{% extends "base.html" %}

{% block content %}
{% load custom_tags %}
<h1>{{ page_title }}</h1>
<a href="{% url 'order_history:create' model_name_lower %}">{{ page_title }}を追加</a>
<table class="table table-striped">
    <thead>
        <tr>
            {% for row in header_row %}
                <th>{{ row.verbose_name }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
            {% get_vars object as object_dict %}
            <tr>
                {% for key, value in object_dict.items %}
                    {% if key != "_state" %}
                        <td>
                            <a href="{% url 'order_history:update' model_name_lower object.pk %}">{{ value }}</a>
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}