{% extends "base.html" %}

{% block content %}
{% load custom_tags %}
<a href="{% url 'order_history:create' model_name_lower %}">{{ page_title }}を追加</a>
{% regroup table_data|dictsortreversed:"purchase_date" by purchase_date as orders %}
{% for order in orders %}
    <ul class="list-group list-group-flush">
        <li class="list-group-item purchase_date">
            {{ order.grouper }}
        </li>
        {% for o in order.list %}
            <li class="list-group-item d-flex">
                <div class="top_product_name">
                    {{ o.product.name }}
                </div>
                <div class="top_price">
                    \{{ o.price }}
                </div>
                <div>
                    <a href="{% url 'order_history:update' model_name_lower o.id %}" class="bi-pencil-square"></a>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endfor %}
{% endblock content %}
