{% extends "base.html" %}

{% block header %}
<h1>Update {{ page_title }}</h1>
{% endblock header %}
{% load static %}
{% load custom_tags %}
{% block content %}
<form action="" method="post">{% csrf_token %}
    {% for field in form %}
    <div>
        {{ field.label_tag }}
        {{ field }}
        {% if field.widget_type == "select" %}
        <a href="{% url field.name|addstr:'_popup_update' field.value %}" class="bi-pencil-square popup_btn update_btn"></a>
        <a href="{% url field.name|addstr:'_popup_create' %}" class="bi-plus-square popup_btn create_btn"></a>
        <a href="{% url field.name|addstr:'_popup_delete' field.value %}" class="bi-x-square"></a>
        {% endif %}
    </div>
    {% endfor %}
    <input type="submit" value="update">
</form>
<a href="{% url urlname_delete object.pk %}">削除</a>
<a href="{% url urlname_index %}">{{ page_title }}一覧に戻る</a>
{% endblock content %}
{% block javascript %}
<script src="{% static 'order_history/js/change_url.js' %}"></script>
<script src="{% static 'order_history/js/popup.js' %}"></script>
{% endblock javascript %}