{% extends "base.html" %}

{% block header %}
<h1>{{ page_title }}</h1>
{% endblock header %}

{% block content %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>{{ page_title }}</th>
        </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
        <tr>
            <td>{{ object.purchase_date }}</td>
            <td>{{ object.product.name }}</td>
            <td>{{ object.quantity }}</td>
            <td>{{ object.product.unit }}</td>
            <td>{{ object.price }}</td>
            <td>{{ object.vendor.name }}</td>
            <td>{{ object.vendor.location }}</td>
            <td>{{ object.product.manufacturer }}</td>
            <td>{{ object.product.producing_area }}</td>
            <td>{{ object }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}