{% extends "base.html" %}

{% block header %}
<h1>{{ page_title }}</h1>
{% endblock header %}

{% block content %}
{% load custom_tags %}
<a href="{% url 'productcreate' %}">{{ page_title }}を追加</a>
<table class="table table-striped">
    <thead>
        <tr>
            {% for row in header_row %}
            <th>{{ row.verbose_name }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
        {% get_vars object as object_dict %}
        <tr>
            {% for value in object_dict.values %}
            <td>
                <a href="{% url 'productupdate' object.pk %}">{{ value }}</a>
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}